---
http_interactions:
- request:
    method: get
    uri: https://glosbe.com/gapi/translate?dest=fr&format=json&from=en&phrase=xxxxx&pretty=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : "ok",
          "tuc" : [ ],
          "phrase" : "xxxxx",
          "from" : "en",
          "dest" : "fr",
          "authors" : { }
        }
  recorded_at: Sat, 09 Sep 2017 02:39:26 GMT
recorded_with: VCR 3.0.3
